{% extends 'base.html.twig' %}

{% block title %}Hello BuyerController!{% endblock %}

{% block body %}

<div class="container">
    {% for product in products %}
    <p>{{product.name}}</p>
    {% endfor %}
</div>
   
{% endblock %}
